@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  font-size: 18px
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
    --primary-color:#0346B5
  
  }
}


@media (min-width: 1200px) and (max-width: 1536px) {
  html {
    font-size: 14.4px /*36px*/
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  html {
    font-size: 12.8px /*32px*/
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 11.2px  /*28px*/
    
  }
  .splide__arrow--prev{
    left:-2.389rem !important
  }
  
  .splide__arrow--next{
    right:-2.389rem !important;
  }  


}

@media (min-width: 400px) and (max-width: 599px) {
  html {
    font-size: 12px  
  }

}

.splide{
  padding: 0 !important;
}


.splide__arrow {
  background-color: white !important;
  border:1px solid #0346B526 !important;
  height: 3.889rem !important;
  width: 3.889rem !important;
  border-radius: 50% !important;
  position: absolute !important;
  z-index: 30 !important;
  }
  .splide__slide   {
    /* border: solid !important; */
    margin-bottom: 20px !important;
    width: 400px !important;
    border-radius: 14px !important;
  }

  .splide__arrow svg {
    fill: #0346B526 !important;
    height:21px !important;
    /* width: 10px !important; */
  }

  .splide__arrow--prev{
    left:-6.389rem !important
  }
  
  .splide__arrow--next{
    right:-6.389rem !important;
  }  

  .splide__pagination__page.is-active{
    background-color:var(--primary-color)  !important;
  }


  
    .splide__pagination__page{
      display: none !important;
    }

    .splide__list{
   
      max-width: 400px !important;
    }

    @media (max-width: 600px) {
      html {
        font-size: 12px
      }
      .splide__track{
        padding-left: 52px !important;
        padding-right: 52px !important;
      }
      .splide__arrow {
        height: 2.889rem !important;
        width: 2.889rem !important;
        }
        .splide__slide   {
          margin-bottom: 10px !important;
          max-width: 300px !important;
          margin-left: auto !important;
          /* margin-right: auto !important; */
          border-radius: 14px !important;
        }
      
        .splide__arrow svg {
          height:10.5px !important;
        }
      
        .splide__arrow--prev{
          left:-0.3rem !important
        }
        
        .splide__arrow--next{
          right:-0.3rem !important;
        } 
    }